---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import RhpDotAnimation from '../components/react/RhpDotAnimation.tsx';
---

<Layout title="rhp | React plotting library" classString="mx-auto max-w-[1190px] min-w-[400px] px-4">
	<div class="w-full h-fit grid justify-center mx-4 smd:mt-1 mb-6 ml-[-2px] xxs:mt-[-3.7rem]">
		<div class="rhp-animated-plot dark:contrast-[1] dark:brightness-[0.9] h-[540px] smd:h-[540px] xs:h-[440px] xxs:h-[380px] min-w-[660px] max-w-[1140px] lgm:w-[1140px] mdl:w-[900px] smd:w-[660px] xs:scale-[0.70] smd:scale-100 xxs:scale-[0.55]" >
			<RhpDotAnimation client:load />
		</div>
	</div>
	<main>
		<h1 class=" leading-relaxed"><a class=" no-underline hover:no-underline" href="/"><span class="font-logo text-[color:var(--text-highlight-color)] text-6xl border-2 border-logo-yellow px-[0.4rem] pb-2 mx-2 ">rhp</span></a>react html plots</h1>
		<h3 class=" w-full text-center text-2xl">a collection of react components<br /> for building interactive and dynamic charts</h3>
		
		<ul role="list" class="link-card-grid mt-8">
			<Card
				href="../content/docs"
				title="Documentation"
				description="Learn how to build plots with the rhp component library."
			/>
			<Card
				href="gallery"
				title="Gallery"
				description="Check out examples and sample applications."
			/>
			<Card
				href="./dev-notes"
				title="Developer Notes"
				description="Notes and overview of concepts, ideas, challenges, and goals"
			/>
			<Card
				href="./community"
				title="Community"
				description="Come join the discussion!"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		padding-bottom: 2.2rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: var(--secondary-text-color);
		font-size: 20px;
		line-height: 1.6;
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 0.4em;
		margin-left: -0.5rem;
	}
	@media screen and (max-width: 660px) {
		h1 {
			font-size: 1.8rem;
			margin-bottom: 0.55em;
			margin-left: -1.05rem;
		}
		h1 span {
			font-size: 2.2rem;
		}

	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
