---
import "@fontsource/barlow";
import "@fontsource/barlow-semi-condensed/300.css";
---

<header class='top-bar nav sticky top-0 py-3 px-[0.48rem] z-50'>
    <div class='flex justify-between items-baseline'>
        <a class="logo font-['Barlow Semi Condensed'] font-thin text-4xl" href="/">rhp</a>
        <nav class="font-['Barlow'] text-[1.6rem] space-x-4">
            <a href="/docs">Docs</a>
            <a href='/gallery'>Gallery</a>
            <a href="/blog">Blog</a>
        </nav>
    </div>
</header>